/frontend/node_modules/
/backend/coverage/
/backend/.coverage
/backend/tests/__pycache__/
/backend/app/__pycache__/
/backend/app/controllers/__pycache__/
/backend/app/models/__pycache__/
/backend/app/services/__pycache__/
/backend/tests/models/.coverage
/backend/tests/models/__pycache__/
/backend/tests/services/__pycache__/
/backend/tests/controllers/__pycache__/
.DS_Store
