# Flask web framework
Flask==2.1.1

# Flask extensions
Flask-Cors==3.0.10
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==3.1.1

# Pytest for testing
pytest==7.4.3
toml==0.10.2
pytest-cov==4.1.0

# WSGI server for deploying the application
gunicorn==20.1.0

# Database driver for PostgreSQL
psycopg2==2.9.3

# SQLAlchemy for database operations
SQLAlchemy==1.4.25

# Other utility packages
requests==2.26.0

# Packages required for yfinance
lxml==4.6.3
numpy==1.21.2
pandas==1.3.3

# yfinance
yfinance==0.1.67

# Black for code formatting
Black==23.10.1

# Flask8 for code linting
flake8==6.1.0